body {
    
    background-color: rgb(241, 223, 201);
    font-family: Arial, sans-serif;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 120px auto;
    background: aliceblue;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.register-container{
    width: 100%;
    max-width: 400px ;
    margin: 62px auto;
    background-color: aliceblue;
    padding: 7px 42px;
    border-radius: 10px;
    box-shadow:  0 4px 12px rgba(0,0,0,0.1);
}
.register-container h2{
    text-align: center;
    margin-bottom: 25px;
    font-family: "Paytone One", sans-serif;
}
.register-container input{
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: #ccc solid 1px;
    border-radius: 6px;
}
.register-container button {
    width: 100% ;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.register-container button:hover {
    background-color: #2b2a2a;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: "Paytone One", sans-serif;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(53, 51, 51);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #2b2a2a;
}


  
  .form-wrapper {
    text-align: center;
  }
  
  .form-logo {
    display: block;
    margin: 0 auto 20px;
    width: 120px;
    height: auto;
  }